.container {
  padding: 32px;
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.cards {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.page-not-found {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--placeholder);
  gap: 10px;
  font-size: 28px;
  font-weight: 700;
  height: 50%;
}
