.container {
  padding: 32px;
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.cards {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
