.container {
  background: rgb(242, 244, 255);
  background: linear-gradient(
    90deg,
    rgba(242, 244, 255, 1) 0%,
    rgba(251, 252, 255, 1) 70%
  );
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media (min-width: 768px) {
  .sidebar-content {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
}
.content-page {
  overflow-y: auto;
  width: 100%;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
